* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/mesa-panoramic-clip-2x-reflect-4K-height.jpg");
	background-attachment: fixed;
	background-position: 5% 100%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#background_wrap {
	z-index: -1;
	position: fixed;
	bottom: 0;
	left: 0;
	/* height: 100%;
	width: 100%; */
	background-size: 100%;
	background-image: url("../images/mesa-panoramic-clip-2x-reflect-4K-height.jpg");
	background-attachment: fixed;
}

body, a:hover {
	color: white;
}

#headerwrap {
	margin: 0 5rem;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px auto 0px;
	flex-wrap: wrap;
	text-align: center;
}

header, main {
	max-width: 1300px;
}

#title {
	padding: 0px 30px;
	border-radius: 7px;
	text-shadow: 3px 3px 5px #000000;
	border: 1px solid gray;
}

#title, .stripe {
	background-color: rgb(204, 147, 41);
}

#title, nav {
	min-width: 348px;
}

h1 {
	font-family: 'Courier New';
	font-size: 50px;
	line-height: 1.4;
}

#titleRule {
	min-width: 0;
}

#subtitle {
	padding: 5px 0 10px;
	font-size: 20px;
	line-height: 1.3;
	font-family: 'Consolas';

}

nav {
	font-size: 25px;
	line-height: 1.4;
}

nav, h3, #bName {
	text-shadow: 2px 2px 4px #000000;
	font-weight: 400;
}

a {
	color: rgb(204, 147, 41);
}

main {
	margin: 5px auto 55px;
}

#mainUwrap {
	margin: 0 5%;
}

h3 {
	font-size: 35px;
	margin: 15px;
}

hr {
	margin: 0;
	border-top: 1px solid #ffffff7a;
}

hr, #shaded, p, html, main {
	min-width: 500px;
}

#shaded {
	background-color: rgba(28, 59, 97, 0.507);
	border-radius: 6px;
	margin: 24px 0 0;
}

#flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.piece {
	display: grid;
	grid-template-columns: 248px;
	grid-template-rows: 160px 65px 25px;
	grid-template-areas:
	"."
	"banner"
	".";
	width: 250px;
	height: 250px;
	/* position: relative; */
	margin: 15px;
}

.piece, img {
	border: 1px solid black;
}

img {
	float: left;
	/* max-width: 200px; */
	margin: 20px 20px 5px;
	border-radius: 5px;
}

#piece1 {
background-image: url("../images/BurgerTimeSnapshot.png");
}

#piece2 {
background-image: url("../images/FilmFanaticSnapshot.png");
}

#piece3 {
background-image: url("../images/NewsScraperSnapshot.png");
}

#piece4 {
background-image: url("../images/OhanaSnapshot.png");
}

.banner {
	grid-area: banner;
	text-align: center;
	display:flex;
	align-items: center;
	font-size: 20px;
	background-color: rgb(48, 114, 194);
	/* vertical-align: middle; */
	/* line-height: 1.5; */
	/* position: absolute;
	left: 0;
	right: 0;
	bottom: 25px; */
	/* height: 65px; */
}

#innerFlex {
	/* display: flex; */
	/* vertical-align: baseline; */
	/* align-items: center; */
}

#bName {
	margin: 0 auto;
}

p {
	font-size: 24px;
	text-shadow: 2px 2px 4px #000000;
	font-weight: 400;
	line-height: 1.8;
	padding: 15px;
}

#player {
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.stripe {
	height: 5px;
}

.foot-content {
	font-size: 15px;
	line-height: 2;
	background-color: #5a3c19;
	font-weight: bold;
	text-align: center;
	text-shadow: none;
}